@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

body{
	margin: 0;
	background: url('../kepek/cement.avif') fixed;
	background-size: cover;
	font-family: 'Kablammo'
}
*{
	box-sizing: border-box
}
header{
	background: url('../kepek/head.jpg');
	background-size: cover;
	color: red;
	font-size: 85px; 
	font-weight: 700;
	padding: 60px 40px;
	text-shadow: 0 0 30px rgba(0,0,0, 0.9);
	
}
.wrapper{
	max-width: 1000px;
	margin: 0 auto;
}
.content{
	background: #C0C0C0;
}
.content::after,
footer::after{
  content: "";
  clear: both;
  display: table;
}
nav{
	width: 30%;
	float: left;
}
nav ul{
	font-family: 'Arial';
	font-size: 20px;
	margin: 0;
	padding: 15px 30px 30px 30px;
	text-decoration: none;
	list-style-type: none;
}
nav ul li{
	border-bottom: 5px double blue;
	
}
nav a{
	color: white;
	text-decoration: none;
	padding: 15px 0;
	display: block;
}
nav  a:hover{
	padding: 15px;
	background: rgba(255, 234, 0, .2)
}
main{
	width:70%;
	float:left;
	padding: 15px;
	border-left: 2px solid blue;
}

main p{
	font-family: 'Arial';
}

.kaja-right{
	height: 200px;
	width: 200px;
	float: right;
	margin: 0 0 15px 15px;
	box-shadow: 10px 10px rgba(255, 0, 0, 0.2)
}
.kaja-left{
	float: left;
	width: 200px;
	height: 200px;
	margin:  5px 15px 15px 0;
	box-shadow: -10px 10px rgba(255, 0, 0, 0.2)
}
main p{
	line-height: 22px;
}
footer{
	padding: 20px 0;
}
footer a {
	color: black;	
}
.left{
	float: left
}
.right{
	float: right;
}
main h1{
	margin-top: 0;
	
}
h1 span{
	display: inline;
	font-size: 50px;
	background: #ff3300;
	color: khaki;
	-webkit-box-decoration-break: clone;
	-o-box-decoration-break: clone;
	box-decoration-break: clone;
	border-bottom: 5px solid #ff3300;
	border-left: 10px solid #ff3300;
	border-right: 10px solid #ff3300;
	line-height: 80px;
}