@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

body{
	margin: 0;
	font-family: 'Kablamo';
	background: url('../képek/jGlzr.png') no-repeat;
	background-size: cover;
}
*{
	box-sizing: border-box;
}
.wrapper{
	max-width: 800px;
	margin: 80px auto 40px;
}
header{
	background: url('../képek/header-3.jpg') no-repeat;
	background-size: cover;
	height: 565px;
}
nav{
	background: rgba(190,0,0,.8);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
nav a{
	color: white;
	text-decoration: none;
	padding: 15px;
	display: block;
}
nav a:hover{
	background: rgba(0,0,0,.8)
}
nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
nav>ul>li{
	float: left;
}
nav .has-submenu{
	position: relative;
}
nav .has-submenu::after {
	content:'🢗';
	color: white;
	position: absolute;
	top: 18px;
	right: 10px;
}
nav .has-submenu>a{
	padding-right: 35px;
}
nav .has-submenu:hover .submenu{
	display: block;
}
nav .submenu{
	position: absolute;
	width: 180px;
	display: none;
}
nav .submenu a{
	background: rgba(190,0,0,1);
	padding: 10px 20px;
}
nav .submenu a:hover{
	background-color: black;
	color: white;
}
nav::after{
  content: "";
  clear: both;
  display: table;
}
main{
	background-color: white;
	padding: 20px
}
main p{
	line-height: 1.5;
}
main h1{
	margin-top: 0
}
.cookie{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0, .7);
	color: white;
	padding: 20px;
	text-align: center;
}
.cookie button{
	background-color: yellow;
	border: 0;
	margin-left:10px;
	padding: 8px 10px;
	border-radius: 5px;
	cursor: pointer
}
.cookie button:hover{
	background-color: red;
	color: white;
}
